@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin long-slab {
   margin-top:10px;
   height:40px;
   text-align:center;
   @include border-radius(10px);
}
