<html>
   <head>
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <script src="jquery-2.1.0.js" type="text/javascript"></script>
      <script src="angular.1.2.13.js" type="text/javascript"></script>
      <script src="my.app.js" type="text/javascript"></script>
      <script src="my.controller.js" type="text/javascript"></script>
      <script src="my.jquery.js" type="text/javascript"></script>
   </head>
   <body>
      <div class="data-column" 
           ng-app="MyApp"
           ng-controller="MyController">
         <div class="banner">My site</div>
         <div class="main-nav">
            <ul>
               <li>main broken link</li>
               <li>another broken link</li>
               <li>one more</li>
            </ul>
         </div>
         <div class="left-column"></div>
         <div class="content">
            <input type="text" ng-model="inputted"/><br/>{{inputted}}<br/>
            <select ng-model='selectedPerson' 
                    ng-options='obj.name for obj in people'></select>
		      <select ng-model='selectedGenre'>
			      <option ng-repeat='label in selectedPerson.music'>
			         {{label}}
			      </option>
		      </select>
         </div>
         <div class="footer"></div>
      </div>
   </body>
</html>
